/* You can add global styles to this file, and also import other style files */
body{
	/*background-color: #2dbc49;
	background: #DCDDDF ;*/
	background-image: url("https://images7.alphacoders.com/423/thumb-1920-423137.jpg");
	background-repeat: repeat-y;
	background-size: cover;
}