<app-header></app-header>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<div id="reg-main">
	<div id="terms">
		<h2 id="term-header">
			Library.com
		</h2>
		<div id="first-term">
			<span id="top">Library.com offers free unlimited book issues.</span>
			<ul class="list">
				<li><a href="#">Explore Books on Library.com (no login needed)</a></li>
				<li><a href="#">More information about Library.com</a></li>
				<li><a href="#">Library.com Support Forum</a></li>
			</ul>
		</div>
		<div id="second-term">
			<span id="bottom">By signing up for and by signing in to this service you accept our:</span>
			<ul class="list">
				<li><a href="#">Privacy policy</a></li>
				<li><a href="#">Terms</a></li>
			</ul>
		</div>
	</div>

	<div id="reg-input">
		<h1 id="reg-header">
			Register
		</h1>
		<form id="reg-form" (submit)="regUser($event)">
			<div class="input">
				<label>Full name</label>
				<input type="text" name="Fullname" required="" oninvalid="this.setCustomValidity('Please Enter your Name')">
			</div>
			<div class="input">
				<label>Username</label>
				<input type="text" name="Username" required="" oninvalid="this.setCustomValidity('Please Enter your Username')">
			</div>
			<div class="input">
				<label>Email Id</label>
				<input type="email" name="Email Id" required="" oninvalid="this.setCustomValidity('Please Enter a valid Email')">
			</div>
			<div class="input">
				<label>Repeat Email Id</label>
				<input type="email" name="Repeat Email Id" required="" oninvalid="this.setCustomValidity('Please Enter a valid Email')">
			</div>
			<div class="input">
				<label>Password</label>
				<input type="password" name="Password" required="" oninvalid="this.setCustomValidity('Please Enter Password')">
			</div>
			<div class="but">
				<input type="submit" value="Register">
			</div>
		</form>
	</div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

