:host{
	display: flex;
	/*to align components in the center*/
	justify-content: center; 
	align-items: center;
	/*To display the items in verical order*/
	flex-direction: column;
	position: relative;
}	

#reg-main
{
	display: flex;
	width: 100%;
	justify-content: flex-start; 
	align-items: center;
	position: relative;
}

#terms
{
	display: flex;
	position: relative;
	/*border: 2px solid red;*/
	flex-direction: column;
	/*background: white;*/
	align-self: flex-start;
	margin: 190px 70px;
	margin-left: 192px;
	width: 700px;
}

#term-header
{
	margin-top: -1px;
	padding: 15px 0px;
	/*border: 2px solid blue;*/
	font-family: sans-serif,Arial;
	font-size: 40px;
	color: #1f8f91;
}

#first-term
{
	margin-top: -5px;
	/*border: 2px solid green;*/
}

#top
{
	font-family: sans-serif,Arial;
	font-size: 20px;
	color: #1f8f91;
}

#bottom
{
	font-family: sans-serif,Arial;
	font-size: 20px;
	color: #1f8f91;
	margin-bottom: 10px;
}

.list
{
	font-family: sans-serif,Arial;
	font-size: 25px;
	color:#1f8f91;
}

#second-term
{
	margin: 10px 0px;
	/*border: 2px solid yellow;*/
}


#reg-input{
	position: relative;
	display: flex;
	/*to align components in the center*/
	justify-content: center;
	align-items: center;
	/*To display the items in verical order*/
	flex-direction: column;
	/*Setting the height and width of our container*/
	height: 550px;
	width: 400px;
	border: 0;
	/*border: 1px solid #748774;
	To give some space to container from header and footer*/
	margin: 50px 0;
	/*To set the background color of our container*/
	/*background-color: #fff;
	To produce some 3d effect
	box-shadow: 2px 2px 5px black;*/
	/*border-radius: 8px;
	border: 3px solid red;*/
}

#reg-header
{
	display: flex;
	flex-grow: 0.2;
	margin: -2px auto auto auto;
	width:100%;
	align-items: center;
	text-transform: uppercase;
	justify-content: center;
	color: #1f8f91;
}

#reg-form{
	display: flex;
	flex-grow: 3;
	width:100%;
	flex-direction: column;
	align-items: center;
}


.input
{
	margin: 10px auto;
	/*box-shadow: 2px 2px 5px black;
	border: 2px solid red;*/

	width: 80%;
}

.input:nth-child(1)
{
	margin-top: 25px;
}

.input>label
{
	color: #1f8f91;
}

.input>input
{
	border: 1px solid gray;
	border-radius: 4px;
	outline: 0;
	width: 100%;
	padding: 4px 0px 4px 4px;
	font-size: 20px;
}

.input>input:focus,.input>input:active
{
	border:2px solid #0aabad;
	box-shadow: 1px 1px 5px #0aabad;
}

.input>input:hover
{
	border:2px solid  #0c7b7c;
}

.but
{
	margin-top: 10px;
	width: 80%;

}

.but>input
{
	padding: 10px 0px;
	width: 100%;
	outline: 0;
	border:0;
	border-radius: 4px;
	text-transform: uppercase;
	background: #0aabad;
	font-weight: bold;
	color: black;
}

.but>input:hover,.but>input:focus
{
	background: #0c7b7c;
}