/*To make main screen display to flex*/ 

:host{
	display: flex;
	/*to align components in the center*/
	justify-content: center; 
	align-items: center;
	/*To display the items in verical order*/
	flex-direction: column;
	position: relative;
}

/*Creating a container in which our components will come*/
#login-input{
	position: relative;
	display: flex;
	/*to align components in the center*/
	justify-content: center;
	align-items: center;
	/*To display the items in verical order*/
	flex-direction: column;
	/*Setting the height and width of our container*/
	height: 380px;
	width: 400px;
	border: 1px solid #748774;
	/*To give some space to container from header and footer*/
	margin: 100px 0;
	/*To set the background color of our container*/
	background-color: #fff;
	/*To produce some 3d effect*/
	box-shadow: 2px 2px 5px black;
	/*border-radius: 8px;
	border: 3px solid red;*/
}

/*Now makin use of the pseduo elements to create pags effect*/

#login-input:after,
#login-input:before{
	position: absolute;
	content: "";
	/*Setting the height and width of our pseduo container*/
	width: 100%;
	height: 100%;
	background-color: #fff;	/*To set the background color of our pseduo container*/
	box-shadow: 2px 2px 5px black;	/*To produce some 3d effect*/
	border: 1px solid #748774;
}
#login-input:before{
	transform: rotate(2deg);
	z-index: -1;
}

#login-input:after{
	transform: rotate(-3deg);
	z-index: -2;
}

#login-header{
	flex-grow: 1;
	width: 400px;
	height: auto;
	text-transform: uppercase;
	margin: 20px 0px 0px 0px;
	color: #697268;
	font-family: Arial,Sans-serif;
	text-align: center;
	padding: 10px 0px;
}

#login-header:before,
#login-header:after{
	content: "";
	background: #adb7ac;
	height: 3px;
	width: 26%;
	position: absolute;
	margin: 15px 30px; 
}
#login-header:before{
	left: 0;
}
#login-header:after{
	right: 0;
}

#login-form{
	flex-grow: 3;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	height: 80%;
	width: 400px;
	border-left: 1px solid #748774;
	border-right: 1px solid #748774;
	/*margin: 0;
	background-color: #fff;
	/*box-shadow: 2px 2px 5px black;
	border-radius: 8px;
	border: 3px solid red;*/
}


div.input {
	margin: auto;
	padding: 10px 0px 10px 0px;
	box-shadow: 2px 2px 5px black;
	background-color: #ced3c2;
	border-radius: 5px;
	margin-bottom: 0px;
}
.input:nth-child(2)
{
	padding: 10px 0px;
}

div.input input, span{
	/*height: 40px;
	width: 200px;*/
	background-color: #ced3c2;
	padding: 7px 0px;
	font-size: 20px;
	border-radius: 5px;
	border: 0;
	outline: 0;
	margin: 0 auto;
}

div.input span
{
	color: #484c47;
	margin-left: 5px;
}

div.but{
	margin: auto;
	display: flex;
	align-items:center;
	width:400px;
	height: 100px;
	margin-top: 0px;
	/*border: 3px dashed red;*/
 	flex-direction: column;

}

div.but1 input
{
	text-transform: uppercase;
	width: 280px;
	padding: 15px 0px;
	background-color: #4CAF50;
	font-family: Arial,Sans-serif;
	font-size: 15px;
	border: 0;
	cursor: pointer;
	outline: 0;
	margin-bottom: 5px;
}

div.but1 input:hover,.but1 input:active,.but1 input:focus {
  background: #43A047;
}

div.but a {
	font-family: Arial,Sans-serif;
	text-decoration:none;
	color: #4CAF50;
}

#frgpass{
	align-self: flex-end;
	padding: 8px 60px 5px 0px;
}