<app-header></app-header>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<div id="login-input">

	<h1 id="login-header">
		Login 
	</h1>
	<form id="login-form" (submit)="loginUser($event)">
		<div class="input">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			<input type="text" placeholder="Username">
		</div>
		<div class="input">
			<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
			<input type="password" placeholder="Password">
		</div>
		<!--<div class="input">
			<input type="submit" value="Login">
		</div>-->
		<div class="but">
			<a id ="frgpass" href="#">Forgot Password?</a>
			<div class="but1">
				<input type="submit" value="Login">
			</div>
			<p class="message">Not Registered? <a routerLink="/register">Create an account</a></p>
		</div>
	</form>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<!--	<div class="input">
		<label>Username</label>
		<input type="text">
	</div>
	<div class="input">
		<label>Password</label>
		<input type="password">
	</div>
	<div class="input">
		<input type="submit" value="Login">
	</div>
</form>-->