<nav class="navbar navbar-inverse">
	<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	 	<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Library</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a routerLink="/">Home <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">List Books</a></li>
	        <li><a routerLink="/add-book">Add Books</a></li>
	        <li><a href="#">Delete Books</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Update<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Update Book Details</a></li>
	          </ul>
	        </li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	      <li>
	      	<div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	      </li>
	        <li><a routerLink="/login">Sign In</a></li>
	        <li><a routerLink="/register">Register</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
