:host{
	display: flex;
	/*to align components in the center*/
	justify-content: center; 
	align-items: center;
	/*To display the items in verical order*/
	flex-direction: column;
	position: relative;
}	
.form-group
{
	margin-top: 8px;
}

.form-control
{
	padding: 6px 230px;
}
input:placeholder-shown {
  padding-left: 2px;
}