:host{
	display: flex;
	/*to align components in the center*/
	justify-content: center; 
	align-items: center;
	/*To display the items in verical order*/
	flex-direction: column;
	position: relative;
}

#main
{
	display: flex;
	width: 76%;


}