/*header{
	color: #000;
	text-align: center;
	border-bottom: 2px solid #ea0b0b;
	padding: 20px 0;
	font-size: 40px;
	margin: 0px -8px;
	font-weight: bold;
	font-style: italic;
}*/
:host{
	display: flex;
	/*to align components in the center*/
	justify-content: center; 
	align-items: center;
	/*To display the items in verical order*/
	flex-direction: column;
	position: relative;
}

.form-group
{
	margin-top: 8px;
}

.form-control
{
	padding: 6px 230px;
}
input:placeholder-shown {
  padding-left: 2px;
}